{% extends 'index.html' %}
{% block title %} Cadastrar Clientes {% endblock %}
{% block conteiner %}
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Adicionar novo cliente!</h1>
                        </div>
                        <form class="user" action="POST">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <!--<input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name">-->
                                    {{ form.nome_cliente }}
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name">
                                    {{ form.telefone }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                                    {{ form.cnpj }}
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password">
                                    {{ form.empresa }}
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary btn-user btn-block">ENVIAR</button>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="{% url 'home' %}">Retorna ao Home!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
