{% extends 'index.html' %}
{% block title %} Home {% endblock %}
{% block conteiner %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Home</h1>
            <a href="{% url 'cadastro-chamados' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="	far fa-registered fa-sm text-white-100"></i> Registrar Chamado</a>
        </div>

        <!-- Content Row -->
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Chamados em aberto</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ num_chamados_abertos }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-exclamation-circle fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Chamados iniciados</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ num_chamados_inicio }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-flag fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1"> Chamados Fechados
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ num_chamados_finalizado }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-check fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Chamados Pedentes</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ num_chamados_pendentes }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-sticky-note fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Area Chart -->
        <h3>Chamados Recentes</h3>
        <div class="card shadow mb-4">
            <!-- Card Body -->
            <div class="card-body">
                <table class="table text-center">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">Cliente</th>
                        <th scope="col">Prioridade</th>
                        <th scope="col">Status</th>
                        <th scope="col">Data de abertura</th>
                        <th scope="col">Tipo do chamado</th>
                        <th scope="col">Sistema</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for chamado in chamados %}
                        <tr>
                            <td>{{ chamado.cliente }}</td>
                            <td>{{ chamado.prioridade }}</td>
                            <td>{{ chamado.status }}</td>
                            <td>{{ chamado.data }}</td>
                            <td>{{ chamado.tipo_chamado }}</td>
                            <td>{{ chamado.sistema }}</td>
                            <td><a href="{% url 'chamado' chamado.id %}" class="btn btn-outline-secondary btn-sm">Editar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}