/* styles.css */

/* Estilo para a div com a classe 'div-clientes' */
.div-clientes {
    background-color: #f0f0f0; /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    margin: 20px; /* Espaçamento externo */
    border: 1px solid #ccc; /* Borda */
    color: black;
    font-weight: bold;
}

.div-eventos {
    background-color: #f0f0f0; /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    margin: 20px; /* Espaçamento externo */
    border: 1px solid #ccc; /* Borda */
    color: black;
    font-weight: bold;
}

.lista-eventos {
    margin-left: 10px;
}